body{
    height: 100%;
    width: 100%;
    background: url(/images/waves.jpg) ;
    margin: auto;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    position: relative;

}
html{
       scroll-behavior:smooth;
    /* behavior: scroll; */
}
a{
    color: inherit;
}
.main{
    height: 4771px;
    width: 1000px;
    z-index: 1;
    background-color: white;
}
header{color: white;
    height: 650px;
    width: 1000px;
    background: url(/images/headerbg.jpg);
    background-attachment: fixed;
}
.headerovarlay{
    background: url(/images/gridtile.png);
}
.logoheader{
    width: 1000px;
padding-top: 30px ;
padding-left: 336px;
}
.topline{margin-left: 282px;
    margin-top: 138px;
    height: 100px;
    width:420px ;
    border-top: 1px solid #27E0FF !important;

}
.headercontent{margin-top: -61px;
    font-size: 36px;
    font-family: arial;
    font-weight: lighter;
    text-align: center;
    width: 400px;
    
}
.chingu{
    display: flex;
    justify-content: center;
}
.maincontent{
    width: 650px;
    display: flex;
    justify-content: center;
    padding-left: 175px;

}
.headerul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.headerul li{
    width: 100px;
    height: 45px;
    margin-right: 40px;
    border-right: 2px solid white;
}
.home{
    z-index: 1;
    background: #fcf5ed url(../images/3.jpg) center center no-repeat fixed;
    background-size: 80% auto;
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    font-size: 17px;
    
   
    
}
.about{
    z-index: 1;
    background: #fcf5ed url(../images/1.jpg) center center no-repeat fixed;
    background-size: 80% auto;
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    font-size: 17px;
}
.service{
    z-index: 1;
    background: #fcf5ed url(../images/2.jpg) center center no-repeat fixed;
    background-size: 80% auto;
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    font-size: 17px;
}
.training{
    z-index: 1;
    background: #fcf5ed url(/images/banner-7.jpg) center center no-repeat fixed;
    background-size: 80% auto;
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    font-size: 17px;
}
.contactus{
    z-index: 1;
    background: #fcf5ed url(/images/4.jpg) center center no-repeat fixed;
    background-size: 80% auto;
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    font-size: 17px;
}
.headinghome{
    padding-left: 30px;
color: white;
height: 35px;
width: 90px;
font-size: 22px;
border: 10px solid white;
}
.ovarlay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
         background: rgba(0,0,0,0.5);
}
.home p{
    padding-top: 60px;
    width: 98%;
    /* text-align:center;
    font-size: 17px; */
    line-height: 25px;
}
.home b{
font-size: large;
}
.sectionfan{
    margin-top: 30px;
    margin-bottom: 40px;
}
.lastcontent{
    padding-top: 40px;
    line-height: 30px;
}
.lastline{
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.lastline p{
    font-size: 39px;
    padding-left: 192px;
    height: 39px;
}


